In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def useful_code():

  #Multiply two matrices together:
  A = np.array([[1,2],[3,4]])
  B = np.array([[5,6],[7,8]])
  C = np.matmul(A, B)
  print("Multiplication of \n", A, "\nand\n", B, "\ngives:\n", C)

  d = np.array([[3], [-2],])

  #matrix solving for Ax = d:
  x = np.linalg.solve(A, d)

  d_check = np.matmul(A, x)
  print(d_check, "should match", d)

  #logarithms:
  b = 0.145
  a = np.log(b)
  print("log of "+str(b)+" is "+str(a)+". exp of "+str(a)+" is "+str(np.exp(a))+".")

  x_low = 0
  x_high = 2*np.pi
  n_x_values = 20
  #define a set of n_x_values points between x_low and x_high (0 to
  #2 pi in this case):
  x = np.linspace(x_low,x_high,n_x_values)
  y = np.cos(x)

  #summing and squaring:
  print("Sum of y squared: ", np.sum(y**2))

  #demonstrate a for loop
  y2_total = 0
  for cnt in range(n_x_values):
    y2_total = y2_total + y[cnt]*y[cnt]
  print(y2_total)


  #Plotting functions/points:
  fig, ax = plt.subplots()  #define a figure
  #plot the points given by vectors x and y with a red
  #solid line ('r-'), and blue dots 'b.'. k is black, r red and g green.
  plt.plot(x, y, 'b.')
  plt.plot(x, y, 'r-')

  #count how many values of y are less than zero:
  num_y_less_than_zero = np.count_nonzero(y < 0)

  #find the 4 smallest values of y
  n_smallest = 4
  indices_of_smallest = np.argpartition(y, n_smallest)[:n_smallest]
  print("Smallest values of y:", y[indices_of_smallest])

  #get the absolute of y
  y_abs = np.abs(y)

  #generate two random sets of values x1 and x2
  n_points = 20
  x1 = np.random.normal(loc=0,scale=1,size=n_points)
  x2 = np.random.normal(loc=0,scale=1,size=n_points)
  #Combine two vectors x1 and x2, of length n_points, into
  # a matrix of size n_points x 2
  X = np.column_stack([x1, x2])

  print(X.shape)
  #add an extra empty dimension to X
  X = X.reshape([n_points,2,1])
  print(X.shape)
  #now remove the redundant dimension:
  X = X.squeeze()
  print(X.shape)

  y = np.zeros([n_points,1]) #define y and set all values to zero
  #now put all the class values to 1 where the x1 value is
  # greater than 0.2
  y[x1 > 0.2] = 1

#useful_code()

In [ ]:
# --- ANSWER FOR Q1 HERE: ---

In [ ]:
# --- END ANSWER FOR Q1 ---

In [ ]:
# --- ANSWER FOR Q2(a) HERE: ---

#You may put your answer as commented code or in a text cell

In [ ]:
# --- END ANSWER FOR Q2(a) ---

In [ ]:
# --- ANSWER FOR Q2(b) HERE: ---
#load the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d2b.csv")
x = np.array(df['x'])
y = np.array(df['y'])
n_points = x.size

In [ ]:
# --- END ANSWER FOR Q2(b) ---

In [ ]:
# --- ANSWER FOR Q2(c) HERE: ---
#load the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d2c.csv")
x = np.array(df['x'])
y = np.array(df['y'])
n_points = x.size

In [ ]:
# --- END ANSWER FOR Q2(c) ---

In [ ]:
# --- ANSWER FOR Q2(d) HERE: ---

In [ ]:
# --- END ANSWER FOR Q2(d) ---

In [ ]:
# --- ANSWER FOR Q3(a) HERE: ---

In [ ]:
# --- END ANSWER FOR Q3(a) ---

In [ ]:
# --- ANSWER FOR Q3(b) HERE: ---
#load the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d3.csv")
x1 = np.array(df['x1'])
x2 = np.array(df['x2'])
t = np.array(df['y'])
n_points = x.size

In [ ]:
# --- END ANSWER FOR Q3(b) ---

In [ ]:
# --- ANSWER FOR Q3(c) HERE: ---

3(c)

In [ ]:
# --- END ANSWER FOR Q3(c) ---

In [ ]:
# --- ANSWER FOR Q4 HERE: ---

In [ ]:
# --- END ANSWER FOR Q4 ---

5.

In [ ]:
# --- ANSWER FOR Q5 HERE: ---

#load the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d5.csv")
x1 = np.array(df['x1'])
x2 = np.array(df['x2'])
y = np.array(df['y'])
n_points = x1.size

In [ ]:
# --- END ANSWER FOR Q5 ---

6.

In [ ]:
# --- ANSWER FOR Q6 HERE: ---

In [ ]:
# --- END ANSWER FOR Q6 ---

7.

In [ ]:
# --- ANSWER FOR Q7 HERE: ---

#load the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d7.csv")
x1 = np.array(df['x1'])
x2 = np.array(df['x2'])
y = np.array(df['y'])
n_points = x1.size

In [ ]:
# --- END ANSWER FOR Q7 ---

In [ ]:
# --- ANSWER FOR Q8(a) HERE: ---

#load in the data
df = pd.read_csv("http://pogo.software/me4ml/quehi/d8.csv")
x1 = np.array(df['x1'])
x2 = np.array(df['x2'])
x3 = np.array(df['x3'])
x4 = np.array(df['x4'])
X = np.column_stack((x1, x2, x3, x4))
y = np.array(df['y'])

n_points = x1.size

In [ ]:
# --- END ANSWER FOR Q8(a) ---

In [ ]:
# --- ANSWER FOR Q8(b) HERE: ---

In [ ]:
# --- END ANSWER FOR Q8(b) ---

In [ ]:
# --- ANSWER FOR Q8(c) HERE: ---

In [ ]:
# --- END ANSWER FOR Q8(c) ---